<!-- connexion.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Connexion - ToubibLib{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-sm mx-auto p-6 bg-white shadow-md rounded-lg text-center">
        <!-- Logo centered below email/username -->
        <img src="{% static './img/toubiblib_logo.png' %}" alt="Logo" class="mx-auto w-36">
        <h1 class="text-xl font-semibold">Connexion</h1>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        
        <form method="post" class="mt-4">
            {% csrf_token %}
            <!-- Email/Username input -->
            <div class="mb-4">
                <input type="text" class="form-control" name="username" placeholder="Username" required class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <!-- Password input -->
            <div class="mb-4">
                <input type="password" class="form-control" name="motDePasse" placeholder="Password" required class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <!-- Login button -->
            <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600">Connexion</button>
        </form>
        <p class="mt-4 text-sm">Vous n'avez pas de compte ? Quel dommage ! Inscrivez-vous en cliquant sur le lien ci-dessous pour profiter de toutes les fonctionnalités.</p>
        
    </div>
</div>
{% endblock %}
