{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}CRUD Report - ToubibLib{% endblock %}

{% block content %}
<div class="flex items-center justify-center bg-gray-100">
    <div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg">
        <!-- Form for Selecting Patient and Date -->
        <form method="get" action="" class="mb-4">
            <div class="flex space-x-4 mb-4">
                <div>
                  <label for="patient_select">Patient:</label>
                  <select id="patient_select" name="patient">
                    {% for patient in patients %}
                        <option value="{{ patient.id }}" {% if patient.id == selected_patient|stringformat:"s" %}selected{% endif %}>
                            {{ patient.username }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div>
                  <label for="date_select">Date:</label>
                  <select id="date_select" name="date">
                    {% for date in dates %}
                        <option value="{{ date }}" {% if date == selected_date %}selected{% endif %}>
                            {{ date }}
                        </option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700">Load Data</button>
        </form>

        <!-- Form for Editing Data -->
        <form method="post" id="crud_form_sante" class="space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-end">
                <input type="submit" value="Update" class="px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700">
            </div>
        </form>
    </div>
</div>
<!-- JavaScript to Fetch Dates -->
<script>
  document.getElementById('patient_select').addEventListener('change', function() {
      var patientId = this.value;
      fetch(`/get-dates-for-patient/${patientId}`)
          .then(response => response.json())
          .then(data => {
              var dateSelect = document.getElementById('date_select');
              dateSelect.innerHTML = ''; // Clear existing options
              data.dates.forEach(function(date) {
                  var option = new Option(date, date);
                  dateSelect.add(option);
              });
          });
  });
  
  // Assuming you have a button with id 'load_data'
  document.getElementById('load_data').addEventListener('click', function() {
      // Perform the action you want on click, 
      // but do not clear or reset the dropdown selections.
      // This part of the code will depend on what you want to achieve when "Load Data" is clicked.
  });
  </script>
{% endblock %}