<!-- historique.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Historique data patient - ToubibLib{% endblock %}
{% block content %}
  <h2>Bienvenue dans la zone Historique Données Patients {{ request.session.username }}</h2>
  <h2>Table données Formulaire santé</h2>
<table id="example">
    <thead>
        <tr>
            {% for colonne in champsFormulaireSante %}
            <th>
                {{ colonne }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for data in dataFormulaireSante %}
    <tr>
        {% for element in data %}
            <th>
            {{ element }}
            </th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}