<!-- menu.html -->
{% load static %}
<nav>
    <!-- Logo centered below email/username -->
    <img src="{% static './img/toubiblib_logo.png' %}" alt="Logo" class="img-fluid mx-auto" style="max-width: 100px;">
    <!-- Display username and role -->
    <h3>{{ request.session.username }} ({{ request.session.role }})</h3>
    <ul>
        <li>
            <a href="{% url 'accueil' %}">Accueil</a>
        </li>
        <li>Formulaires
            <ul>
                <li>
                    <a href="#">Formulaire de santé générale</a></li>
                <li><a href="#">Formulaire de niveau de stress</a></li>
            </ul>
        </li>
        <li><a href="#">Historique</a></li>
        {% if request.session.role == "medecin" %}
            <li><a href="{% url 'edaia' %}">EDA et IA</a></li>
        {% endif %}
        {% if request.session.role == "superuser" %}
            <li><a href="{% url 'comptes' %}">Comptes</a></li>
            <li><a href="{% url 'associationAdminsComptes' %}">Associé un ou plusieurs Admin(s) à des comptes utilisateurs</a></li>
        {% endif %}
        {% if request.session.role == "admin" or request.session.role == "superuser" %}
        <li><a href="{% url 'associationMedecinPatient' %}">Associé un ou plusieurs Médecin(s) à des comptes patients</a></li>
        {% endif %}
        <li><a href="{% url 'deconnexion' %}">Déconnexion</a></li>
    </ul>
</nav>